html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  font-family: 'DM Sans', sans-serif;
  position: relative;
}
.gray-900{
    color: #111827;
}
.gray-400{
    color: #9CA3AF;
}
.grey-500{
    color: #6B7280;
}
h1 {
  font-size: clamp(2rem, 4vw, 3rem);
  line-height: 1;
}

h2 {
  font-size: clamp(1.75rem, 4vw, 2.5rem);
}

h3 {
  font-size: clamp(1.5rem, 4vw, 2rem);
}
h5{
    font-size: 1.125em;
}

p {
  font-size: 18px;
  color: rgb(54, 52, 53);
  line-height: 1.3;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
a.link-btn{
    color: #BE123C;
    font-size: 18px;
}
.input-field {
  height: 45px;
  border: 1px solid #fff;
  border-radius: 8px;
  line-height: 1;
  padding: 6px 12px;
  font-family: inherit;
  font-size: 16px;
  background-color: transparent;
  color: #fff;
}
.flex-center{
    display: flex;
    align-items: center;
    gap: 8px;
}
.padding--wrapper{
    padding: 0 48px;
}
.hero-section {
  background: url("assets/images/banner-bg.png") no-repeat center;
  padding: 12px 48px;
  color: #fff;
  height: 80vh;
}

@media (max-width: 600px){
    .hero-section{
        padding: 12px 24px;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    height: 66px;
    align-items: center;
}
nav .logo{
    width: 120px;
    height: auto;
}

nav .search-bar{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transform: translateY(18px);
}
nav .search-bar input{
    width: 500px;
}


nav .search-bar button{
    background: transparent;
    border: none;
    color: #fff;
    padding: 6px;
    font-size: 24px;
    transform: translateY(-40px);
}

nav .right-side--nav{
    display: flex;
    gap: 12px;
}
nav .right-side--nav a{
    transform: translateY(10px);
}
nav .right-side--nav img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
@media(max-width: 900px){
    nav .search-bar input{
        width: 100%;
    }
}
@media(max-width: 700px){
    nav .search-bar input{
        width: 80%;
    }
}
@media(max-width: 550px){
    nav .logo{
        width: 20px;
    }
    nav .logo img{
        width: 120px;
    }
    nav .search-bar input{
        width: 70%;
    }
}
@media (max-width: 500px){
    nav .logo{
        width: initial;
    }
    nav .logo img{
        width: inherit;
    }
    nav .search-bar{
        display: none;
    }
}

.banner-content--container {
    display: flex;
    align-items: center;
    height: 80%;
}
.banner-content--container .banner-content{
    max-width: 450px;
}

.banner-content h1{
    max-width: 400px;
    margin-bottom: 24px;
}
.banner-content p{
    color: #fff;
    line-height: 1.3;
    margin-bottom: 24px;
}
.banner-content .rating{
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}
.banner-content .rating small{
    color: #fff;
}
.rating img{
    width: 32px;
    height: auto;
}

.rating .rotten-tomato-rating img{
    width: 18px;
    height: auto;
}
.banner-content button {
    padding: 12px 24px;
    border-radius: 8px;
    border: unset;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    background-color: #BE123C;
    color: #fff;
}
.banner-content button .play-icon{
    font-size: 24px;
}

.featured-movie{
    margin-top: 48px;
}
.featured-movie header{
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-bottom: 24px;
}
.featured-movie h2{
    margin-bottom: 24px;
}
.featured-movie a.link-btn{
    display: flex;
    align-items: center;
    transition: 0.3s all;
}
.featured-movie a.link-btn:hover{
    color: #111827;
    transition: 0.3s all;
}

.featured-movie .movies--container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    /* max-width: 1440px; */
    margin: auto;
}

.movie-card{
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.movie-card a.block-display{
    display: contents;
}

.movie-card img{
    width: 250px;
    height: 380px;
    object-fit: cover;
    object-position: center;
}
.movie-card small{
    font-size: 12px;
}
.rating-group{
    display: flex;
    justify-content: space-between;
}
.movie-card .rating-group img{
    width: 32px;
    height: auto;
}

.movie-card .rotten-tomato-rating img{
    width: 18px;
    height: auto;
}

@media(max-width: 620px){
    .featured-movie .movies--container{
        justify-content: center;
    }
    .movie-card{
        width: 200px;
    }
    
    .movie-card img{
        width: 200px;
    }
}
@media(max-width: 500px){
    .movie-card{
        max-width: 350px;
    }
    
    .movie-card img{
        width: 250px;
    }
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    height: auto;
    padding: 24px;
    margin-top: 60px;
}
footer .socials{
    display: flex;
    gap: 24px;
    align-items: center;
    font-size: 24px;
    
}
footer .quick-links{
    display: flex;
    flex-flow: row wrap;
    gap: 24px;
    justify-content: center;
    /* text-align: center; */
}

footer .quick-links a:last-child{
    margin-right: unset;
}

.dashboard {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #fff;
    color: #666666;
    padding: 20px 0 20px;
    position: fixed;
    height: 100vh;
    border-right: 1px solid rgba(0, 0, 0, 30%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar .logo{
    padding-left: 24px;
}


.sidebar ul {
    list-style: none;
    
}

.sidebar ul li {
    margin-bottom: 10px;
    padding: 16px 24px;
    font-weight: 600;
    transition: 0.3s ease-in;
}

.sidebar ul li.active {
    color: #BE123C;
    background-color: rgba(190, 18, 60, 10%);
    border-right: 2px solid #BE123C;
}
.sidebar ul li:hover {
    color: #BE123C;
    background-color: rgba(190, 18, 60, 10%);
    transition: 0.3s linear;
}
.sidebar ul a{
    display: flex;
    align-items: center;
    gap: 12px;
}
.sidebar .sidebar-icon{
    font-size: 28px;
}

.sidebar .announcement{
    border-radius: 24px;
    border: 1px solid #BE123C;
    padding: 24px;
    margin: 0 24px;
    text-align: center;
}
.sidebar .announcement p{
    font-weight: bold;
    font-size: 16px;
}
.sidebar .announcement button{
    background-color: rgba(190, 18, 60, 10%);
    color: #BE123C;
    font-weight: 600;
    border-radius: 30px;
    border: none;
    padding: 12px 18px;
    transition: 0.3s linear;
}
.sidebar .announcement button:hover{
    background-color: rgba(190, 18, 61, 0.536);
    color: #BE123C;
    transition: 0.3s linear;
}
.sidebar .announcement small{
    display: block;
    margin: 12px 0;
}

.sidebar .logout{
    font-weight: 600;
    transition: 0.3s all;
    padding-left: 24px;
}
.sidebar .logout:hover{
    font-weight: 600;
    color: #BE123C;
    transition: 0.3s all;
}
.sidebar .logout a{
    display: flex;
    align-items: center;
    gap: 12px;
}
.main-content {
    margin-left: 250px;
    flex-grow: 1;
    padding: 20px;
    /* border: 1px solid red; */
}

.main-content .movie-banner{
    background: url('assets/images/banner-bg.png') no-repeat center;
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.movie-banner span{
    text-align: center;
}
.movie-banner p{
    color: #fff;
    margin-top: 24px;
}
.movie-banner .banner-icon{
    font-size: 60px;
   
    background-color: rgba(232, 232, 232, 20%);
    padding: 12px;
    border-radius: 50%;
    inset: 0 50%;
    transform: translateY(25%);
}
.details-wrapper{
    display: flex;
    gap: 24px;
}
.movie-info{
    width: 60%;
}
.movie-info .movie-data{
    display: flex;
    gap: 24px;
    align-items: center;
    margin: 32px 0 24px;
}
.movie-info .movie-data .circle{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #111827;
    display: block;
}

.movie-info .movie-data header{
    display: flex;
    align-items: center;
    gap: 8px;
}

.movie-data .movie-tags button{
    border: 1px solid rgba(190, 18, 60, 10%);
    background: transparent;
    color: #BE123C;
    font-weight: 600;
    border-radius: 30px;
    padding: 4px 12px;
}

.movie-details .movie-overview{
    margin-bottom: 24px;
}

.movie-details .movie-casts h5{
    margin-bottom: 12px;
}
.movie-casts h5 span{
    color: #BE123C;
    font-weight: 400;
}

.cta-section{
    width: 40%;
}
.cta-section .flex-end{
    margin: 32px 0 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
}
.cta-section .flex-end img{
    width: 18px;
    height: auto;
    margin-right: 4px;
    transform: translateY(2px);
}
.cta-section .flex-end span{
    color: #9CA3AF;
}
.cta-section .btn-group{
    display: block;
}
.cta-section .btn-group button{
    background: #BE123C;
    color: #fff;
    font-weight: 600;
    border-radius: 10px;
    padding: 4px 12px;
    width: 250px;
    height: 45px;
    border: 0px;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
}
.cta-section .btn-group img{
    width: 24px;
    height: auto;
}
.cta-section .btn-group button.cta-btn{
    margin-top: 8px;
    border: 1px solid #BE123C;
    background-color: rgba(190, 18, 60, 10%);
    color: #111827;
}
.cta-section .btn-group .btn-icon{
    font-size: 18px;
}

.cta-section .cta-image img{
    width: 100%;
    height: auto;
}
.cta-section .cta-image p{
    background-color: rgba(18, 18, 18, 50%);
    padding: 8px 12px;
    border-radius: 10px;
    color: #fff;
    transform: translateY(-42px);
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}