*{
    box-sizing: border-box;
}
h2{
    font-size: 24px;
}
a{
    text-decoration: underline;
    color: #121212;
}
body{
    max-height: 80vh;
    font-family: 'Inter', sans-serif;
}
.profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    border: 1px solid #666;
    border-radius: 8px;
    gap: 12px;
    max-width: 500px;
    margin: auto;
}

.profile-container img{
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 12px;
}
.profile-container div{
    text-align: left;
}